@model Produto

@{
    ViewData["Title"] = "Cadastrar";
}
<div class="text-center">
    @if (@TempData["cadSucess"] != null)
{
    <div class="alert alert-success">
        @TempData["cadSucess"]
    </div>
}
</div>

<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form asp-controller="Produtos" asp-action="Cadastrar">
                    <partial name="_Form"/>
                    <botao-enviar></botao-enviar>
                    <a asp-action="Home" class="btn btn-warning">Voltar</a>
                </form>
            </div>
            <div class=" ml-5 mt-3 col-2">
                <div>
                    <img src="~/img/Skatista.jpg" style="width: 400px"/>
                </div>
            </div>
        </div>

    </div>
</section>


