@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <img class="mt-5" src="~/img/logo.png" style="width: 40%; margin-left: 20rem;"/>
    <hr />
    <p class="display-4 text-center font-italic">Vestuário e acessórios de qualidade!</p>
    <hr />
</div>


